<!-- Projects Row -->
<div class="row">
    {{#each cities}}
    <div class="col-md-4 portfolio-item">
        <a href="{{url}}">
            <img class="img-responsive" src="{{image}}" alt="">
        </a>
        <h3>
            <a href="{{url}}">{{name}}</a>
        </h3>
        <p>{{description}}</p>
    </div>
    {{/each}}
</div>
