<div>
  <header>
    <img
      src="/images/{{singleCity.city_image}}"
      alt="City skyline"
      width="100%"
      height="50%"
    />
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div>
          <h2>About {{singleCity.city_name}}</h2>
          <p>{{singleCity.city_description}}</p>
        </div>
        <div>
          <h2>Things to Do</h2>
          <ul>
            <li>{{singleCity.things_todo1}}</li>
            <li>{{singleCity.things_todo2}}</li>
            <li>{{singleCity.things_todo3}}</li>
            <li>{{singleCity.things_todo4}}</li>
            <li>{{singleCity.things_todo5}}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <h2>User Reviews</h2>
        <div class="review">
          {{#each singleCity.reviews as |reviews|}}
            <h3>{{reviews.title}}</h3>
            <p>{{reviews.reviews}}</p>
            <p>{{reviews.created_date}},{{reviews.user.username}}</p>
          {{/each}}

          {{#if loggedIn}}
          <a
            href="/api/user/comment"
            onclick="location.href=this.href+'?xyz='+val;return false;"
            class="btn btn-lg btn-secondary btn-block"
          >Add Your Review</a>
          {{else}}

          <a href="/login">Please Login to add a review</a>

          {{/if}}
        </div>




      </div>
    </div>
  </div>
  <div id="map" data-lat="{{lat}}" data-lng="{{lng}}"></div>

<script>
  function initMap() {

    console.log('initMap is being called');
    var mapDiv = document.getElementById('map');
    var lat = parseFloat(mapDiv.getAttribute('data-lat'));
    var lng = parseFloat(mapDiv.getAttribute('data-lng'));

    console.log("Lat: " + lat + ", Lng: " + lng); 

    var city = {lat: lat, lng: lng};
    var map = new google.maps.Map(mapDiv, {zoom: 13, center: city});
    var marker = new google.maps.Marker({position: city, map: map});
  }
</script>




        
</div>

<script>
  var val =
  {{singleCity.id}}; //console.log("hello");
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1L6G-zvkucPsG9X4UPmdxq1SaugJ_0u4&callback=initMap"></script>